<?php<extend name="Common:edit"/>

<block name="form">
    <div class="main-div">
        <form method="post" action="{:U()}" enctype="multipart/form-data">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}' />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">LOGO</td>
                    <td>
                        <input type='file' name='logo' maxlength='60' id="logo_uploader"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">网址</td>
                    <td>
                        <input type='text' name='site_url' maxlength='60' value='{$site_url}' />
                    </td>
                </tr>
                <tr>
                    <td class="label">简介</td>
                    <td>
                        <textarea  name='intro' cols='60' rows='4'  >{$intro}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">排序</td>
                    <td>
                        <input type='text' name='sort' maxlength='60' value='{$sort|default=20}' />
                    </td>
                </tr>
                <tr>
                    <td class="label">状态</td>
                    <td>
                        <input type='radio' class='status' name='status' value='1'/> 是
                        <input type='radio' class='status' name='status' value='0'/> 否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br />
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 " />
                        <input type="reset" class="button" value=" 重置 " />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>

<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#logo_uploader').uploadify({
                height        : 30,
                width         : 120,
                'buttonText' : '上传图片', //指定按钮上面的文字
                'debug' : false,  //是否调试
                'fileSizeLimit' : '1MB',   //最大上传大小
                'fileTypeExts' : '*.gif; *.jpg; *.png',  //允许上传的文件
                'formData':{'dir':'brand-logo'},  //上传文件时额外传递过去的参数---->告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
                // 'fileObjName': 'xxx', //上传该文件时,以什么名字上传..   $_FIELS['Filedata']  . 默认为:Filedata
                'swf'           : '__UPLOADIFY__/uploadify.swf',  //flash插件地址
                'uploader'      : "{:U('Upload/index')}",     //处理上传插件 上传上来的 文件
                'onUploadSuccess' : function(file, data, response) {  //data就是响应的 上传后的地址
                    $('.upload-img-box').show(); //显示出div
                    $('.upload-img-box .upload-pre-item img').attr('src','__BRAND__'+data);
                    $('.logo').val(data);  //将上传后的路径同时也放到隐藏域中.. 一起提交给服务器.
                },
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            });
        });
    </script>

</block>
