<?php<extend name="Common:edit"/>

<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
</block>
<block name="form">
    <div class="main-div">
        <form method="post" action="{:U()}" enctype="multipart/form-data">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">分类名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}' />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">父分类</td>
                    <td>
                        <input type="hidden" class="parent_id" name="parent_id" value="0">
                        <input type='text' class="parent_name" name='parent_name' maxlength='60' value='顶级分类' disabled="disabled"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        <style type="text/css">
                            .ztree{
                                margin-top: 10px;
                                border: 1px solid #617775;
                                background: #f0f6e4;
                                width: 220px;
                                height: auto;
                                overflow-y: scroll;
                                overflow-x: auto;
                            }
                        </style>
                        <ul id="treeDemo" class="ztree"></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">分类简介</td>
                    <td>
                        <textarea  name='intro' cols='60' rows='4'  >{$intro}</textarea>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type='radio' class='status' name='status' value='1'/> 是
                        <input type='radio' class='status' name='status' value='0'/> 否
                    </td>
                </tr>
                 <tr>
                    <td colspan="2" align="center"><br />
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 " />
                        <input type="reset" class="button" value=" 重置 " />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>

<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">
        $(function(){
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback:{
                    //点击事件  treeNode是点击的节点
                    onClick: function(event, treeId, treeNode){
                    console.debug(treeNode);
                        $('.parent_name').val(treeNode.name);
                        $('.parent_id').val(treeNode.id);
                    }
                },

            };

            var zNodes ={$zNodes};
            //找到ul,将ul变成一个树状结构
            var treeObj=$.fn.zTree.init($("#treeDemo"), setting, zNodes);
            <empty name='id'>
              //添加时,展开所有节点
                treeObj.expandAll(true);
            <else/>
                //编辑时,显示选中的节点
                var parent_id={$parent_id};//从树对象中找到需要被选中的节点
                //根据父级分类的值找到对应的分类id
                var node=treeObj.getNodeByParam('id',parent_id);
            console.debug(node);
                //根据树对象选中找到的节点
                treeObj.selectNode(node);
                //把选中的节点的名字赋值给父分类的表单元素
                $('.parent_name').val(node.name);
                $('.parent_id').val(node.id);
            </empty>


        });
    </script>
</block>
